.abaixo-banner {
  width: 1290px;
  height: 340px;
  justify-content: center;
  display: flex;
  flex-direction: column;


}


.titulo1 {
  width: 380px;
  height: 45px;
  font-size: 29px;
  font-weight: bold;
  align-items: flex-start; 
  display: flex;
  justify-content: center;
}

.bilhete-texto {
  height: 76.25px;
  width: 255.52999877929688px;
}

.caixa-bilhete {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
}